*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: black;
    --secondry: green;
}

.title_container{
 padding: 20px 0;
 height: 80px;
 filter: drop-shadow(19px 46px 70px green) invert(20%);
}
.title_container h1{
font-weight: 600;
font-size: 5vw;
color: var(--primary);
text-align: center;


}
.button_container{
    height: 20vh;
    display: grid;
    place-items: center;
    
}
.button_container button{
   background-color: blue;
    display: grid;
    place-items: center;
    color: white;
    font-size: 2vw;
    padding: 15px 15px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 20vw;


    
}
.colors_container{
height: calc(80vh - 80px);
display: grid;
grid-template-rows:5fr 4fr 3fr 2fr ;
}
#colors1{
    background-color: red;
}
#colors2{
    background-color: green;
}
#colors3{
    background-color: blue;
}
#colors4{
    background-color: pink;
}

/* responsive */

@media (max-Width:720px) {
    .title_container h1{
        filter: drop-shadow(16px 16px 20px blue) invert(10%);
        padding-top: 20px;
    }
    .button_container{
        height: 20vh;
        display: grid;
        place-items: center;
        padding-bottom: 20px;
    }
    .button_container button{
        font-size: 2vw;
        padding: 16px 10px;
    }
}

.colorBox:hover p{
    display: inline-block;
}

.colorBox p{
    background-color: aliceblue;
    width: 100px;
    padding: 10px 10px;
    text-align: end;
    margin-top: 10px;
    margin-left: 9px;
    display: none;
}